<!DOCTYPE html>
<html>
<head>
<title> SimpleBooks | <%= @transaction_type %> </title>
<body>

<h1><%= @transaction_type %></h1>

	<table class="table table-hover">
		<tr>
			<th>Contact</th>
			<th>Date</th>
			<th>Category</th>
			<th>Amount</th>
		</tr> 

		<% @transactions.each do |transaction| %>
		<tr>
			<td><%= transaction.contact_id %>
			<td><%= transaction.transaction_date %>
			<td><%= transaction.category_id %>
			<td><%= transaction.amount %>
		<% end %>
	</table>
</body>
</html> 